extends baseEmail

block content
  p Hi #{firstName},
  p Forgot your password? Please reset your password in following link.
  p This reset token is valid for only 10 minutes.
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Reset your Password
  p If button is not working, go to the following link: #{url}
  p Please ignore this email, if you didn't request new password for your Natours Account
  p - Pedro Calvo Herranz. CEO Natours.

//-const message = `Forgot your password? Submit a PATCH request with your new password and passwordConfirm to : ${resetURL}\nIf you didn't forget your password, please ignore this email!`;

