extends baseEmail

block content
  p Hi #{firstName},
  p Forgot your password? Please reset your password in following link. Provide again your new password and passwordConfirm to : #{url}
  p (Website for this action not yet implemented.)
  p This reset token is valid for only 10 minutes.
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Reset your Password
  p If this mail it is not for you, and you didn't forget your password, please ignore this email!
  p - Pedro Calvo Herranz

//-const message = `Forgot your password? Submit a PATCH request with your new password and passwordConfirm to : ${resetURL}\nIf you didn't forget your password, please ignore this email!`;