doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css?family=Lato:300,300i,700' rel='stylesheet')
    link(rel='stylesheet' href='css/style.css')
    link(rel='shortcut icon' type='image/png' href='img/favicon.png')
    title Natours | Exciting tours for adventurous people

  body
    //HEADER
    include _header
    //CONTENT
    section.overview
      h1= tour
      //- =tour, because we passed the object { next to base in app.js}
      p This is just some text added by 
        span=user.toUpperCase()

        -const x = 10

      h2= 2 * x
      //-we can run javascript (buffered code) in the code comming from the object
    //Footer
    include _footer
